* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f4f4f9;
    background-size: cover;
}

.container {
    background-color:wheat;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.settings {
    margin-bottom: 20px;
}

.settings label {
    font-size: 14px;
}

.settings input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-left: 5px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.options label {
    font-size: 12px;
}

.password {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.password input {
    width: 200px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

#copyBtn {
    background-color: #007BFF;
    margin-left: 10px;
}

#copyBtn:hover {
    background-color: #0056b3;
}
